<!DOCTYPE html>
<html>
<head>
  <title>CardBrain</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.cardBrainAssets = {
      logoImage: "<%= image_url 'logo.png' %>"
    }
  </script>
  <script src="https://use.fontawesome.com/f6b7408f3a.js"></script>
</head>
<body>


  <%= yield %>

  <% if current_user %>
    BACKEND RECOGNIZES YOU AS: <%= current_user.username %> AS OF LAST HTML REQUEST
  <% else %>
    NOT LOGGED IN TO BACKEND AS OF LAST HTML REQUEST
  <% end %>

</body>
</html>
